body{
    font-family:arial;
    background-color:lightgray;
}

table{
    background-color:black;
    font-family:arial;
    margin-top:10px;
    position:static;
}

#readLinks{
    display:inline-block;
    margin-top:15px;
}

#links{
    padding:10px;
    background-color:blue;
}

#updateForm{
    border:5px solid black;
    background-color:gray;
    display:inline-block;
    padding:20px;
}

#updateButtons{
    border:5px solid black;
    background-color:gray;
    display:inline-block;
    padding:10px;
}

#tableReplace{
    background-color:blue;
    padding:10px;
    display:inline-block;
    top:52%;
    left:45%;
}

#h1replace{
    display:inline-block;
}

#h1delete{

}

#deleteButton{
    background-color:blue;
    padding:10px;
}

tr{
    background-color:gray;
}

td{
    padding:10px;
    border:1px solid black;
}

th{
    border:1px solid black;
}

a:link{
    text-decoration:none;
    font-family:arial;
    color:aqua;
}

a:visited{
    color:aqua;
}

a:hover{
    color:red;
}

#corpNameTD{
    font-family:"Comic Sans MS";
}

#addButtons {
    border:5px solid black;
    background-color:gray;
    display:inline-block;
    padding:10px;
}

#addForm{
    display:inline-block;
    border:5px solid black;
    padding:15px;
    background-color:gray;
}

#add2Button{
    background:none;
    border:none;
    background-color:blue;
    color:aqua;
    padding:5px;
    font-size:16px;
    cursor:pointer;
}

#add2Button:hover{
    color:red;
}

#searchBarDiv{
    border:1px solid black;
    display:inline-block;
    padding:5px;
}

#addNewCorp{
    display:inline-block;
    margin-top:20px;
    background-color:blue;
    padding:10px;
}

#searchForm{
    border:1px solid black;
    display:inline-block;
}

#sortForm{
    border:1px solid black;
    display:inline-block;
}

#searchSortBackBtn{
    background-color:blue;
    padding:10px;
    margin-right:10px;
}

#updateBtn{
    border:none;
    background-color:blue;
    color:aqua;
    font-size:16px;
    padding:5px;
    cursor:pointer;
}

#updateBtn:hover{
    color:red;
}











































